html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  background: #005AA7;  /*fallback for old browsers*/
  background: -webkit-linear-gradient(to top left, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#root{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-container {
  margin-right: 10px;
}

.app-container {
  height: 100vh
}

.header-link:hover {
  text-decoration: none;
}



@media (max-width: 576px) { /* Small devices (576px and below) */
  .profile-picture {
    width: auto; /* Allow the width to adjust */
    height: auto; /* Allow the height to adjust */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 250px; /* Set the maximum height for smaller screens */
  }
}


